In [1]:
# Load Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

##### Here I am just loading the downloaded .csv files, but it may be better to load them directly from Kaggle.  
Thoughts?

In [2]:
# Load data sets
dfTrain = pd.read_csv("train.csv")
dfTest = pd.read_csv("test.csv")

print("Shape of training data set:", dfTrain.shape)
print("Shape of testing data set: ", dfTest.shape)

Shape of training data set: (1460, 81)
Shape of testing data set:  (1459, 80)

##### It might be a good idea to combine training and testing data sets for EDA purposes, in order to capture all of the odd cases.

In [3]:
# Combine data sets
dfBoth = pd.concat([dfTrain, dfTest], keys=['train', 'test'], names=['dataSet', 'index'])

print("Shape of combined data set:", dfBoth.shape)

Shape of combined data set: (2919, 81)

##### I think it's a good idea to first deal with *Null* values.

In [4]:
# Get a sorted list of the numbers of Null values
missingVals = dfBoth.isnull().sum()
missingVals = missingVals[missingVals > 0]
missingVals.sort_values()

Electrical         1
GarageArea         1
GarageCars         1
Exterior1st        1
Exterior2nd        1
KitchenQual        1
SaleType           1
TotalBsmtSF        1
BsmtFinSF1         1
BsmtUnfSF          1
BsmtFinSF2         1
Utilities          2
Functional         2
BsmtHalfBath       2
BsmtFullBath       2
MSZoning           4
MasVnrArea        23
MasVnrType        24
BsmtFinType1      79
BsmtFinType2      80
BsmtQual          81
BsmtExposure      82
BsmtCond          82
GarageType       157
GarageCond       159
GarageQual       159
GarageFinish     159
GarageYrBlt      159
LotFrontage      486
FireplaceQu     1420
SalePrice       1459
Fence           2348
Alley           2721
MiscFeature     2814
PoolQC          2909
dtype: int64

##### I was tempted to just remove any rows that have Null values in any of the columns with 5 or fewer Null values (Electrical through MSZoning), but I think we can make sense of some of them. For instance, the NaNs in `GarageArea` and `GarageCars` were probably just no garage and can reasonably be replaced with a zero.

In [5]:
# Replace null values with zero
dfBoth.GarageArea.fillna(0, inplace=True)
dfBoth.GarageCars.fillna(0, inplace=True)

In [6]:
# Get the counts for each garage size (in cars)
dfBoth.GarageCars.value_counts()

2.0    1594
1.0     776
3.0     374
0.0     158
4.0      16
5.0       1
Name: GarageCars, dtype: int64

##### Note the 157 zeroes (158 now) indicating no garage. The other Garage-type variables all have 157-159 Null values. We can set up a rule to change those NaNs to `None` for rows where `GarageCars == 0`.

In [7]:
# Conditionally replace null values with 'None'
garageVars = ["GarageType", "GarageCond", "GarageQual", 
              "GarageFinish", "GarageYrBlt"]
for i in garageVars:
    dfBoth.loc[dfBoth['GarageCars'] == 0.0, i] = 'None'

##### Similarly, Null values in Basement-related variables likely indicate no basement and can also be replaced with a zero.

In [8]:
# Replace null values with zero
bsmtVars = ["TotalBsmtSF", "BsmtFinSF1", "BsmtFinSF2", 
            "BsmtUnfSF", "BsmtHalfBath", "BsmtFullBath"]
for i in bsmtVars:
    dfBoth[i].fillna(0, inplace=True)

In [9]:
# Conditionally replace null values with 'None'
garageVars = ["BsmtFinType1", "BsmtFinType2", "BsmtQual", 
              "BsmtCond", "BsmtExposure"]
for i in garageVars:
    dfBoth.loc[dfBoth['TotalBsmtSF'] == 0.0, i] = 'None'

In [10]:
# Get a sorted list of the numbers of Null values
missingVals = dfBoth.isnull().sum()
missingVals = missingVals[missingVals > 0]
missingVals.sort_values()

Electrical         1
GarageCond         1
GarageQual         1
Exterior1st        1
Exterior2nd        1
GarageFinish       1
GarageYrBlt        1
BsmtFinType2       1
SaleType           1
KitchenQual        1
Utilities          2
BsmtQual           2
Functional         2
BsmtCond           3
BsmtExposure       3
MSZoning           4
MasVnrArea        23
MasVnrType        24
LotFrontage      486
FireplaceQu     1420
SalePrice       1459
Fence           2348
Alley           2721
MiscFeature     2814
PoolQC          2909
dtype: int64

##### There are still Garage-related variables coming up null. I checked and they're all the same entry (test set, index 666). I suspect there is no garage and the number of cars for this entry (1.0) was mis-coded. We could delete this entry or set it up as no garage.

In [11]:
dfBoth[dfBoth['GarageCond'].isnull()]

,,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
dataSet,index,,,,,,,,,,,,,,,,,,,,,
test,666,2127,60,RM,57.0,8094,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,1000,9,2008,WD,Normal,NaN

##### I suspect something similar is happening with the Basement variables.

In [12]:
dfBoth[dfBoth['BsmtQual'].isnull()]

                 Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley  \
dataSet index
test    757    2218          70  C (all)         60.0     5280   Pave   NaN
        758    2219          50  C (all)         52.0     5150   Pave   NaN

              LotShape LandContour Utilities  ... PoolArea PoolQC Fence  \
dataSet index                                 ...
test    757        Reg         Lvl    AllPub  ...        0    NaN   NaN
        758        Reg         Lvl    AllPub  ...        0    NaN   NaN

              MiscFeature MiscVal MoSold YrSold  SaleType  SaleCondition  \
dataSet index
test    757           NaN       0      7   2008        WD         Normal
        758           NaN       0      5   2008        WD         Normal

               SalePrice
dataSet index
test    757          NaN
        758          NaN

[2 rows x 81 columns]

In [13]:
dfBoth[dfBoth['BsmtCond'].isnull()]

                 Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley  \
dataSet index
test    580    2041          20       RL        103.0    16280   Pave   NaN
        725    2186          20       RL         65.0     6500   Pave   NaN
        1064   2525          80       RL         72.0     9720   Pave   NaN

              LotShape LandContour Utilities  ... PoolArea PoolQC  Fence  \
dataSet index                                 ...
test    580        Reg         Lvl    AllPub  ...        0    NaN   GdWo
        725        Reg         Lvl    AllPub  ...        0    NaN    NaN
        1064       Reg         Lvl    AllPub  ...        0    NaN  MnPrv

              MiscFeature MiscVal MoSold YrSold  SaleType  SaleCondition  \
dataSet index
test    580           NaN       0      5   2008        WD         Normal
        725           NaN       0      5   2008        WD         Normal
        1064          NaN       0      6   2007        WD         Normal

               SalePrice
dataSet index
test    580          NaN
        725          NaN
        1064         NaN

[3 rows x 81 columns]

In [14]:
dfBoth[dfBoth['BsmtExposure'].isnull()]

                 Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley  \
dataSet index
train   948     949          60       RL         65.0    14006   Pave   NaN
test    27     1488          20       RL         73.0     8987   Pave   NaN
        888    2349          60       FV         81.0    10411   Pave   NaN

              LotShape LandContour Utilities  ... PoolArea PoolQC Fence  \
dataSet index                                 ...
train   948        IR1         Lvl    AllPub  ...        0    NaN   NaN
test    27         Reg         Lvl    AllPub  ...        0    NaN   NaN
        888        Reg         Lvl    AllPub  ...        0    NaN   NaN

              MiscFeature MiscVal MoSold YrSold  SaleType  SaleCondition  \
dataSet index
train   948           NaN       0      2   2006        WD         Normal
test    27            NaN       0      5   2010        WD         Normal
        888           NaN       0      7   2007       New        Partial

               SalePrice
dataSet index
train   948     192500.0
test    27           NaN
        888          NaN

[3 rows x 81 columns]

In [15]:
dfBoth[dfBoth['BsmtFinType2'].isnull()]

,,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
dataSet,index,,,,,,,,,,,,,,,,,,,,,
train,332,333,20,RL,85.0,10655,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,284000.0

##### Nope, it turns out that is not the case with the basements. Each of these will need to be dealt with individually or we could remove them.  
EDIT: This issue is resolved in the steps below.

##### To grab some of the low-hanging fruit, I'll go through the *data_description.txt* file and assign a value to some of the NAs that actually represent something.  
For example, in the **Alley** variable, NA means 'No alley access' so I'll change all NaN's to `'None'`.  
NOTE: Maybe it would be best to do this step first.

In [16]:
# For Alley, NA represents 'No alley access'; replace with 'None'
dfBoth.Alley.fillna('None', inplace=True)

In [17]:
# For BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, & BsmtFinType2,
# NA represents 'No basement'; replace with 'None'
bsmtVars = ["BsmtQual", "BsmtCond", "BsmtExposure", 
            "BsmtFinType1", "BsmtFinType2"]
for i in bsmtVars:
    dfBoth[i].fillna('None', inplace=True)

In [18]:
# For FireplaceQu, NA represents 'No Fireplace'; replace with 'None'
dfBoth.FireplaceQu.fillna('None', inplace=True)

In [19]:
# For GarageType, GarageFinish, GarageQual, & GarageCond,
# NA represents 'No Garage'; replace with 'None'
garageVars = ["GarageType", "GarageFinish", 
              "GarageQual", "GarageCond"]
for i in garageVars:
    dfBoth[i].fillna('None', inplace=True)

In [20]:
# For PoolQC, NA represents 'No Pool'; replace with 'None'
dfBoth.PoolQC.fillna('None', inplace=True)

In [21]:
# For Fence, NA represents 'No Fence'; replace with 'None'
dfBoth.Fence.fillna('None', inplace=True)

In [22]:
# For MiscFeature, NA represents 'None'; replace with 'None'
dfBoth.MiscFeature.fillna('None', inplace=True)

In [23]:
# Get a sorted list of the numbers of Null values
missingVals = dfBoth.isnull().sum()
missingVals = missingVals[missingVals > 0]
missingVals.sort_values()

Exterior1st       1
Exterior2nd       1
Electrical        1
KitchenQual       1
GarageYrBlt       1
SaleType          1
Utilities         2
Functional        2
MSZoning          4
MasVnrArea       23
MasVnrType       24
LotFrontage     486
SalePrice      1459
dtype: int64

##### Many of these remaining should not contain null values (with the exception of SalePrice, which is our Test data).

In [24]:
dfBoth.Exterior1st.value_counts()

VinylSd    1025
MetalSd     450
HdBoard     442
Wd Sdng     411
Plywood     221
CemntBd     126
BrkFace      87
WdShing      56
AsbShng      44
Stucco       43
BrkComm       6
AsphShn       2
Stone         2
CBlock        2
ImStucc       1
Name: Exterior1st, dtype: int64

In [25]:
dfBoth.Exterior2nd.value_counts()

VinylSd    1014
MetalSd     447
HdBoard     406
Wd Sdng     391
Plywood     270
CmentBd     126
Wd Shng      81
BrkFace      47
Stucco       47
AsbShng      38
Brk Cmn      22
ImStucc      15
Stone         6
AsphShn       4
CBlock        3
Other         1
Name: Exterior2nd, dtype: int64

##### Looking at these counts, I suspect when there is only one type of exterior that they put the same value for both (since there isn't a NA option for secondary).

In [26]:
dfBoth.loc[dfBoth['Exterior1st'].isnull(), 'Exterior2nd']

dataSet  index
test     691      NaN
Name: Exterior2nd, dtype: object

In [27]:
dfBoth.loc[dfBoth['Exterior1st'].isnull(), 'ExterQual']

dataSet  index
test     691      TA
Name: ExterQual, dtype: object

In [28]:
dfBoth.loc[dfBoth['Exterior1st'].isnull(), 'ExterCond']

dataSet  index
test     691      TA
Name: ExterCond, dtype: object

##### Test data index 691: No listed primary or secondary exterior, but both Quality and Condition are "Average/Typical"

In [29]:
dfBoth[dfBoth['Exterior1st'].isnull()]

,,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
dataSet,index,,,,,,,,,,,,,,,,,,,,,
test,691,2152,30,RL,85.0,19550,Pave,None,Reg,Lvl,AllPub,...,0,None,None,None,0,1,2008,WD,Normal,NaN

##### I wouldn't mind removing this row, but since it is in our test data, it might be nice to impute some values. 
TO DO: deal with Null values in Id # 2152